{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            Recuperar Contraseña
          </div>
          <div class="card-body">
            <form method="post">
              <div class="form-group">
                <label for="recovery_answer">{{ user.recovery_question }}</label>
                <input type="text" class="form-control" name="recovery_answer" id="recovery_answer" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Recuperar Contraseña</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
