{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            Recuperar Contraseña - Paso 1
          </div>
          <div class="card-body">
            <form method="post">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Buscar Pregunta de Recuperación</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
