

{% extends 'navbar_base.html' %}

{% block content %}
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

    .login-container {
      position: relative;
      z-index: 1;
      max-width: 360px;
      margin: 8% auto 0;
      border-radius: 8px;
    }

    .login-form {
      background: #FFFFFF;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      border-radius: 8px;
    }

    .login-form input {
      font-family: "Poppins", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      border-radius: 4px;
    }

    .login-form button {
      font-family: "Poppins", sans-serif;
      outline: 0;
      background: #A82E26;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
      border-radius: 4px;
    }

    .login-form button:hover,
    .login-form button:active,
    .login-form button:focus {
      background: #A82E26;
    }

    .login-form .message {
      margin: 15px 0 0;
      color: #A82E26;
      font-size: 12px;
    }

    .login-form .message a {
      color: #A82E26;
      text-decoration: none;
    }

    .login-form .register-form {
      display: none;
    }
  </style>

  <div class="login-container">
    <div class="login-form">
      <h4>Recuperar Contraseña</h4>
      <form method="post">
        <div class="form-group">

          <input type="text" placeholder="{{ user.recovery_question }}"class="form-control" name="recovery_answer" id="recovery_answer" required>
        </div>
        <button type="submit" class="button">Siguiente</button>
      </form>
    </div>
  </div>
{% endblock %}
