{% extends 'base.html' %}

{% set preguntas = ['¿Cuales nombre de tu restaurante favorito?', '¿Como se llama tu mejor amig@?', '¿Cual es tu color fovorito?', 
'¿Como se llama tu mascota?', '¿En que año te graduaste?'] %}


{% block header %}
  <title>{% block title %}Registro{% endblock %}</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            Registro
          </div>
          <div class="card-body">
            <form method="post">
              <div class="form-group">
                <label for="username">Nombre</label>
                <input type="text" class="form-control" name="username" id="username" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class a="form-control" name="email" id="email" required>
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" required>
              </div>
              <div class="form-group">
                <label>Pregunta</label>
                {% for pregunta in preguntas %}
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="selected_question" id="{{ loop.index }}" value="{{ pregunta }}">
                    <label class="form-check-label" for="{{ loop.index }}">
                      {{ pregunta }}
                    </label>
                  </div>
                {% endfor %}
              </div>
              <div class="form-group">
                <label for="recovery_answer">Respuesta</label>
                <input type="password" class="form-control" name="recovery_answer" id="recovery_answer" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
