{% extends 'navbar_base.html' %}

  {% block content %}

  <style>
     @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      font-family: "Poppins", sans-serif !important;
    }
  
    body {
      background-color: #f3f3f3;
    }
  
    .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 450px;
      display: flex;
      box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
    }
    .wrapper .message {
        margin: 15px 0 0;
        color: #A82E26;
        font-size: 12px;
    }

    .wrapper .message a {
        color: #A82E26;
        text-decoration: none;
    }
  
    .wrapper .left {
      width: 35%;
      background: linear-gradient(to right, #A82E26, #A82E26);
      padding: 30px 25px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      text-align: center;
      color: #fff;
    }
  
    .wrapper .left img {
      border-radius: 5px;
      margin-bottom: 10px;
    }
  
    .wrapper .left h4 {
      margin-bottom: 5px; /* Cambié el valor de 10px a 5px */
    font-size: 13px; 
    }
  
    .wrapper .left p {
      font-size: 12px;
    }
  
    .wrapper .right {
      width: 65%;
      background: #fff;
      padding: 30px 25px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  
    .wrapper .right .info,
    .wrapper .right .projects {
      margin-bottom: 25px;
    }
  
    .wrapper .right .info h3,
    .wrapper .right .projects h3 {
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #e0e0e0;
      color: #353c4e;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 23px; /* Añadí un tamaño de fuente más pequeño */
      width: 70%;
    }
  
    .wrapper .right .info_data,
    .wrapper .right .projects_data {
      display: flex;
      justify-content: space-between;
    }
  
    .wrapper .right .info_data .data,
    .wrapper .right .projects_data .data {
      width: 45%;
    }
  
    .wrapper .right .info_data .data h4,
    .wrapper .right .projects_data .data h4 {
      color: #353c4e;
      margin-bottom: 5px;
      font-size: 14px; /* Añadí un tamaño de fuente más pequeño */
    width: 70%;
    }
  
    .wrapper .right .info_data .data p,
    .wrapper .right .projects_data .data p {
      font-size: 13px;
      margin-bottom: 10px;
      color: #919aa3;
    }
   
  </style>
  <title>Perfil</title>
  <div class="wrapper">
    <div class="left">
      <img src="https://i.pinimg.com/280x280_RS/42/03/a5/4203a57a78f6f1b1cc8ce5750f614656.jpg" alt="user" width="100">
      <h4>{{ user.username }}</h4>
      <a class="btn btn-secondary" href="{{ url_for('profile.update') }}">Editar</a>
    </div>
    <div class="right">
      <div class="info">
        <h3>Información</h3>
        <div class="info_data">
          <div class="data">
            <h4>Email</h4>
            <p>{{ user.email }}</p>
          </div>
        </div>
      </div>
  
      <div class="projects">
        <h3>posts</h3>
        <div class="projects_data">
          <div class="data">
            <h4>Recientes</h4>
            {% for post in posts %}
            <p class="message"> <a href="{{ url_for('post.details', id=post.id) }}">{{ post.title[:10] + '...' }}</a>
            {% endfor %}
          </div>
          <div class="data">
            <h4>Populares</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

